#login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#login .login-form {
  margin: 0 auto;
  width: 368px;
}
#login .login-form-forgot {
  float: right;
}
#login .login-form-button {
  width: 100%;
}

#login .ant-form-explain {
  text-align: left;
}
