#register {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#register .register-form {
  margin: 0 auto;
  width: 368px;
}

#register .ant-form-explain {
  text-align: left;
}

#register .sumbit-button-formitem {
  text-align: left;
}

#register .submit-button {
  width: 150px;
  margin-right: 10px;
}
